.tt-selectable{
    cursor: pointer;
}
.twitter-typeahead{
    position: inherit;
    display: inherit;
}
.tt-menu{
    background: #fff;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    margin: 5px 0px;
    padding: 5px 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.type-header{
    margin: 5px 0 8px 0;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
    font-weight: bold;

}

.table-striped>tbody>tr:nth-of-type(odd){
    background: #F5F5F5 !important;
}

.table-hover>tbody>tr:hover {
    background-color: #EEEEEE !important;
}



.numeros-dataTabla {
    padding: 8px !important;
    width: 25px !important;
    /*background-color: #33414e;*/
    /*background-color: #6D7780;*/
    background-color: #272E34;
    color: #fff;

}

.th-dataTable{
    background-color: #272E34;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}

#datatable td{
   border-top: none !important;
   border-bottom: none !important;
}
.estatus,
#action-dataTable{
    width: 150px !important;
}

.pdf-img {
    position: absolute;
    right: 0;
    top: 12%;
}
.pdf-img img{
    width: 50px;
}

.not-active {
     pointer-events: none;
     cursor: default;
    opacity: 0.7;
 }
.navbar-brand {
    padding: 0px;
}
.navbar-brand img{
    padding:8px 15px ;
    width: 250px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-default{
    background: #ffffff;
}
table.dataTable thead .no-sort:after{
    content: "" !important;
}

table.tabla-reportes tr{
    background:  #F5F5F5 !important
}
table.tabla-referencias tr:hover{
    background:  #F5F5F5 !important

}
table.tabla-referencias tr{
    background:  #ffffff !important
}

.sort{
    color: #CCCCCC;
}
.sort:hover{
    color: #CCCCCC;
}

.sort.dt-sorting, #sort-fecha.dt-sorting{
    color: #ffffff;
}

@media only screen and (max-width: 767px) {

    .pdf-img {
        position: relative;
    }
    .pdf-img img{
        width: 50px;
    }
}
.img-w100{
    width: 100%;
    display: block;
    height: auto;
}

.dp-iblock{
    display: inline-block;
}

.h-200{
    height: 200px;
}

.clear {
    clear: both;
}
@media only screen and (min-width: 760px) {

    #especie.header {
        width: 400px;
    }

}


    .img-galeria{
        max-width: 100px;
    }

@media only screen and (min-width: 790px) {

.img-galeria{
    max-width: 150px;
}

}
