#ficha-reportes{
	.panel-body{
				padding: 10px 15px;

		.widget-summary {
			.summary-footer {
			 	padding:2px 0;
			    border-top: none;

			    &:first-child{ 
			    padding: 10px 0 0;
			    border-top: 1px solid #ddd;
			    text-align: left;
				}
			}
		}

			
				h4{
					font-weight: bold;
    				font-size: 16px;
				}
			}			
			

			

	.reportado-ubicacion{

	

		.reportado-sinonimia{
			font-size: 13px;
			margin-bottom: 8px;
			margin-top: 15px;

			small {
				font-size: 80%;
			}
		}

		&:first-child{
			.reportado-sinonimia{
				margin-top :5px;
			}
		}

		.reporte-lugar{

			&:first-child:before{
 				content: "(";
			}

			&:after{
				content: ','
			}

			&:last-child:after{
 				content: "))))";
			}
		}

		.reporte-sitio{

				&:first-child:before{
	 				content: "[";
				}

				&:after{
					content: ','
				}

				&:last-child:after{
	 				content: "]";
				}
		}

	}

}

.ficha-referencias{


      h4{
        margin-bottom: 3px;
        font-size: 15px;
        font-weight: bold;
      }
      p{
      	margin:0px;
      }

}