

.listas-resultados{

	li{
		padding: 0px 10px;	


		&:nth-child(odd) {
			background: #F5F5F5
		}


		&:hover{
			background:#EEEEEE;
		}

		a{
    		padding: 6px 0px;			
		}
	}

	a{
		color: $color-dark;
		display: block;
		font-size: 13px;
		font-weight: bold;

		.autores{
			font-weight: normal;
			color: #777;
		}

		
	}
}